@import url("mobile.css");
/*@import url("tablet.css");*/
@import url("laptop.css");
@import url("print.css");

/***************************** GENERAL ***************************/
html {
    font-family: 'Open Sans', sans-serif;
}

p {
    line-height: 0.5;
}

/***************************** HEADER ****************************/
nav {
    height: 5vh;
    width: 100%;
    background: #A6E4E7;
    position: fixed;
    z-index: 20;
}

nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    padding: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 10pt;
    line-height: 5vh;
}

.profil {
    display: flex;
    background: url("../img/dust_scratches.png");
    width: 30%;
    padding: 20px 0 0 0;
    text-align: center;
    height: 92vh;
    position: fixed;
    margin-top: 5vh;
}

.entireProfil {
    margin: auto;
}

.profil img {
    width: 50%;
    border: 4px solid #A6E4E7;
    border-radius: 50%;
    opacity: 0.8;
}

.profilImg {
    opacity: 1;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}

.profilImg:hover {
    opacity: 0.5;
}

.coordonnees {
    margin: auto 0;
}

.jobTitle {
    text-align: center;
    padding: 15px 0 0 0;
    font-family: 'Patrick Hand', cursive;
}

/***************************** SPRITE ****************************/
.entireSprite {
    display: flex;
    justify-content: center;
}

.sprite {
    background: url('../img/icons2.png') no-repeat 0 -36px;
    width: 44px;
    height: 45px;
}

.sprite2 {
    background: url('../img/icons2.png') no-repeat -53px -36px;
    width: 44px;
    height: 45px;
}

.sprite3 {
    background: url('../img/icons2.png') no-repeat -106px -36px;
    width: 44px;
    height: 45px;
}


/***************************** FORMATION + REAL + XP****************************/
.formation, .xpPro, .portfolio, .contact {
    width: 70%;
    margin-left: 30%;
    min-height: 100vh;
    display: flex;
}

.portfolio, .contact { background: #e5fbfc; }

.formation, .xpPro { background: #f9f9f9; }

.entireFormation, .entirePortfolio, .entireXp, .entireContact {
    margin: auto;
    width: 80%;
}

.formTitle, .portTitle, .xpTitle, .contactTitle {
    padding: 30px 0 10px 30px;
    text-transform: uppercase;
}

.formDetail { padding: 0 0 0 30px; }

.titleDetailForm { text-transform: uppercase; }

div.ipssi, div.troisW, div.scarron { padding-bottom: 10px; }

p.boldDescription, span.boldDescription {
    font-weight: 700;
    text-transform: capitalize;
}

ul.listeRealisations { text-transform: none; }

/***************************** FORMULAIRE DE CONTACT ****************************/
.inputCoordonnees, .mail, .message {
    width: 80%;
}

.mail, .message, .button {
    margin-top: 25px;
}

.inputCoordonnees label, .mail label {
    margin-top: 20px;
    display: block;
}

.inputCoordonnees input{
    width: 100%;
    margin-right: 20px;
    border: 0;
    border-bottom: 2px solid #A6E4E7;
    background-color: transparent;
    outline: none;
}

.mail input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #A6E4E7;
    background-color: transparent;
    outline: none;
}

.message textarea {
    display: block;
    margin-top: 20px;
    border: 2px solid #A6E4E7;
    background-color: transparent;
    outline: none;
    width: 100%;
    border-radius: 3px;
}

.button button {
    border: 1px solid darkgrey;
    border-radius: 3px;
    padding: 10px;
    background-color: #f9f9f9;
    color: dimgrey;
    outline: none;
}